name: Mobile Automation CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do projeto
        uses: actions/checkout@v4

      - name: Instalar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Instalar Appium 3 e UiAutomator2
        run: |
          npm install -g appium@next
          appium driver install uiautomator2

      - name: Instalar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Instalar dependências Python
        run: pip install -r requirements.txt

      - name: Iniciar Emulador Android e Executar Testes
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 30
          target: default
          arch: x86_64
          script: |
            appium &
            sleep 10
            robot test/

      - name: Upload Relatórios Robot Framework
        uses: actions/upload-artifact@v4
        with:
          name: robot-reports
          path: |
            log.html
            report.html
            output.xml
