name: Mobile Automation CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do projeto
        uses: actions/checkout@v4

      - name: Instalar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Instalar Appium 2.6.0 e UiAutomator2 (versão estável)
        run: |
          npm install -g appium@2.6.0
          appium driver install uiautomator2

      - name: Instalar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Instalar dependências Python
        run: pip install -r requirements.txt

      - name: Iniciar Emulador Android e Executar Testes
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 30
          target: google_apis
          arch: x86_64
          ram-size: 4096M
          script: |
            # Iniciar Appium
            appium --base-path /wd/hub --relaxed-security &

            echo "Aguardando Appium subir..."
            sleep 15

            # Garantir que o adb esteja conectado
            adb wait-for-device
            adb devices

            # Executar testes Robot
            robot test/

      - name: Upload Relatórios Robot Framework
        uses: actions/upload-artifact@v4
        with:
          name: robot-reports
          path: |
            log.html
            report.html
            output.xml
